{
  "extends": "stylelint-config-standard",
  "plugins": ["stylelint-order", "stylelint-scss"],
  "customSyntax": "postcss",
  "rules": {
    "declaration-empty-line-before": [
      "always",
      {
        "ignore": [
          "first-nested",
          "after-comment",
          "after-declaration",
          "inside-single-line-block"
        ]
      }
    ],
    "import-notation": "string",
    "at-rule-no-unknown": null,
    "color-hex-length": "long",
    "color-no-invalid-hex": true,
    "color-function-notation": "legacy",
    "declaration-block-trailing-semicolon": "always",
    "indentation": 2,
    "selector-class-pattern": null,
    "no-descending-specificity": null,
    "block-opening-brace-space-before": [
      "always",
      {
        "ignoreAtRules": [
          "if",
          "else",
          "for",
          "each",
          "while",
          "media",
          "supports",
          "include",
          "mixin"
        ]
      }
    ],
    "value-list-comma-newline-after": "always-multi-line",
    "order/order": [
      "custom-properties",
      "dollar-variables",
      "declarations",
      "at-rules",
      "rules"
    ],
    "order/properties-order": [
      [
        {
          "groupName": "Special",
          "emptyLineBefore": "always",
          "properties": ["composes", "@import", "@extend", "@mixin", "@at-root"]
        },
        {
          "groupName": "Pseudo content",
          "emptyLineBefore": "always",
          "properties": ["content"]
        },
        {
          "groupName": "Positioning",
          "emptyLineBefore": "always",
          "noEmptyLineBetween": true,
          "properties": [
            "position",
            "top",
            "right",
            "bottom",
            "left",
            "inset",
            "inset-block",
            "inset-block-end",
            "inset-block-start",
            "inset-inline",
            "inset-inline-end",
            "inset-inline-start",
            "z-index"
          ]
        },
        {
          "groupName": "Box Model",
          "emptyLineBefore": "always",
          "noEmptyLineBetween": true,
          "properties": [
            "display",
            "flex",
            "flex-basis",
            "flex-direction",
            "flex-flow",
            "flex-grow",
            "flex-shrink",
            "flex-wrap",
            "grid",
            "grid-area",
            "grid-auto-rows",
            "grid-auto-columns",
            "grid-auto-flow",
            "grid-gap",
            "grid-row",
            "grid-row-start",
            "grid-row-end",
            "grid-row-gap",
            "grid-column",
            "grid-column-start",
            "grid-column-end",
            "grid-column-gap",
            "grid-template",
            "grid-template-areas",
            "grid-template-rows",
            "grid-template-columns",
            "gap",
            "align-items",
            "align-self",
            "justify-content",
            "justify-items",
            "justify-self",
            "order",
            "float",
            "clear",
            "box-sizing",
            "width",
            "min-width",
            "max-width",
            "height",
            "min-height",
            "max-height",
            "margin",
            "margin-top",
            "margin-right",
            "margin-bottom",
            "margin-left",
            "padding",
            "padding-top",
            "padding-right",
            "padding-bottom",
            "padding-left",
            "object-fit",
            "object-position",
            "overflow",
            "overflow-x",
            "overflow-y",
            "aspect-ratio"
          ]
        },
        {
          "groupName": "Typography",
          "emptyLineBefore": "always",
          "noEmptyLineBetween": true,
          "properties": [
            "font",
            "font-weight",
            "font-size",
            "font-family",
            "font-style",
            "font-variant",
            "font-size-adjust",
            "font-stretch",
            "font-effect",
            "font-emphasize",
            "font-emphasize-position",
            "font-emphasize-style",
            "font-smooth",
            "line-height",
            "direction",
            "letter-spacing",
            "white-space",
            "text-align",
            "text-align-last",
            "text-transform",
            "text-decoration",
            "text-emphasis",
            "text-emphasis-color",
            "text-emphasis-style",
            "text-emphasis-position",
            "text-indent",
            "text-justify",
            "text-outline",
            "text-wrap",
            "text-overflow",
            "text-overflow-ellipsis",
            "text-overflow-mode",
            "text-orientation",
            "text-shadow",
            "vertical-align",
            "word-wrap",
            "word-break",
            "word-spacing",
            "overflow-wrap",
            "tab-size",
            "hyphens",
            "unicode-bidi",
            "columns",
            "column-count",
            "column-fill",
            "column-gap",
            "column-rule",
            "column-rule-color",
            "column-rule-style",
            "column-rule-width",
            "column-span",
            "column-width",
            "page-break",
            "page-break-after",
            "page-break-before",
            "page-break-inside",
            "src"
          ]
        },
        {
          "groupName": "Visual",
          "emptyLineBefore": "always",
          "noEmptyLineBetween": true,
          "properties": [
            "list-style",
            "list-style-position",
            "list-style-type",
            "list-style-image",
            "table-layout",
            "empty-cells",
            "caption-side",
            "color",
            "color-scheme",
            "border",
            "border-top",
            "border-right",
            "border-bottom",
            "border-left",
            "border-block",
            "border-boundary",
            "border-collapse",
            "border-image",
            "border-image-outset",
            "border-image-repeat",
            "border-image-slice",
            "border-image-source",
            "border-image-width",
            "border-inline",
            "border-width",
            "border-top-width",
            "border-right-width",
            "border-bottom-width",
            "border-left-width",
            "border-style",
            "border-top-style",
            "border-right-style",
            "border-bottom-style",
            "border-left-style",
            "border-color",
            "border-top-color",
            "border-right-color",
            "border-bottom-color",
            "border-left-color",
            "border-radius",
            "border-top-left-radius",
            "border-top-right-radius",
            "border-bottom-right-radius",
            "border-bottom-left-radius",
            "border-spacing",
            "background",
            "background-color",
            "background-image",
            "background-repeat",
            "background-position",
            "background-position-x",
            "background-position-y",
            "background-size",
            "background-clip",
            "background-origin",
            "background-attachment",
            "background-blend-mode",
            "outline",
            "outline-width",
            "outline-style",
            "outline-color",
            "outline-offset",
            "box-shadow",
            "box-decoration-break",
            "backface-visibility",
            "perspective",
            "perspective-origin",
            "visibility",
            "cursor",
            "opacity",
            "filter",
            "caret",
            "caret-color",
            "caret-shape",
            "isolation",
            "backdrop-filter",
            "mix-blend-mode",
            "mask",
            "mask-border",
            "mask-clip",
            "mask-composite",
            "mask-image",
            "mask-mode",
            "mask-origin",
            "mask-position",
            "mask-repeat",
            "mask-size",
            "mask-type",
            "scroll-behavior",
            "scroll-margin",
            "scroll-padding",
            "scroll-snap-align",
            "scroll-snap-stop",
            "scroll-snap-type",
            "scrollbar",
            "scrollbar-color",
            "scrollbar-gutter",
            "scrollbar-width"
          ]
        },
        {
          "groupName": "Transform",
          "emptyLineBefore": "always",
          "noEmptyLineBetween": true,
          "properties": [
            "transform",
            "transform-origin",
            "transform-style",
            "rotate",
            "scale",
            "translate"
          ]
        },
        {
          "groupName": "Animation",
          "emptyLineBefore": "always",
          "noEmptyLineBetween": true,
          "properties": [
            "transition",
            "transition-delay",
            "transition-timing-function",
            "transition-duration",
            "transition-property",
            "animation",
            "animation-name",
            "animation-duration",
            "animation-play-state",
            "animation-timing-function",
            "animation-delay",
            "animation-iteration-count",
            "animation-direction",
            "animation-fill-mode"
          ]
        },
        {
          "groupName": "Misc",
          "emptyLineBefore": "always",
          "noEmptyLineBetween": true,
          "properties": [
            "appearance",
            "clip",
            "clip-path",
            "counter-increment",
            "counter-reset",
            "counter-set",
            "resize",
            "user-select",
            "nav-index",
            "nav-up",
            "nav-right",
            "nav-down",
            "nav-left",
            "pointer-events",
            "quotes",
            "touch-action",
            "will-change",
            "zoom",
            "fill",
            "fill-rule",
            "clip-rule",
            "stroke",
            "stroke-dasharray",
            "stroke-dashoffset",
            "stroke-linecap",
            "stroke-linejoin",
            "stroke-width"
          ]
        }
      ],
      {
        "unspecified": "bottom",
        "emptyLineBeforeUnspecified": "always"
      }
    ]
  }
}
