.sidebar-navigation-item {
  position: relative;
  z-index: 1;

  width: var(--sidebar-width);

  text-decoration: none;

  outline: none;

  &.active {
    &::after {
      content: "";

      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      width: 8px;
      height: 70px;

      border-radius: 0 8px 8px 0;
      background-color: var(--color-orange);

      transition: 0.4s ease width;
    }
  }

  &__icon {
    box-sizing: initial;
    width: 30px;
    height: 30px;
    margin: 0 35px;
    padding: 20px 0;

    color: var(--color-white);
  }

  &__text {
    line-height: 21px;
    white-space: nowrap;
    text-decoration: none;

    color: var(--color-white);
  }
}
