.create-edit-sticker-page {
  &__content {
    max-width: 600px;
  }
}

.sticker-info {
  &__image-uploader {
    width: 157px;
    height: 100%;
  }

  &__fields {
    display: grid;
    flex: 1 1 auto;
    height: 100%;
  }
}
