.sortable-list {
  display: grid;
  margin: -5px;
  padding: 5px;

  &_empty {
    display: block;
  }
}

.sortable-list-item {
  position: relative;

  transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0)
    scaleX(var(--scale-x, 1)) scaleY(var(--scale-y, 1));
  transform-origin: 0 0;

  &__drag-handle {
    cursor: grab;
  }

  &:not(.sortable-list-item_with-handle) {
    cursor: grab;

    touch-action: manipulation;
  }

  &_dragging:not(.sortable-list-item_drag-overlay) {
    z-index: 0;

    opacity: 0.5;
  }

  &_drag-overlay {
    opacity: 1;

    &:not(.sortable-list-item_with-handle) {
      cursor: grabbing;
    }

    .sortable-list-item__drag-handle {
      cursor: grabbing;
    }
  }
}
