.product-variant-item {
  --border: 1px solid rgba(224, 224, 224, 100%);

  padding: 20px 0;

  border-top: var(--border);

  &:last-child {
    border-bottom: var(--border);
  }

  &__edit-button {
    flex: none;
    margin-top: 11px;
  }

  .select-form-field {
    margin-top: 4px;
  }
}